<div class="wrapper login-wrapper" style="background-color: #3D2C63">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="card">
            <div class="card-header">
                <%= image_tag "logo2.png", class: "login-logo" %>
                <h2 class="card-title">Log in</h2>
            </div>
            <div class="card-content">
              <div class="form-group">
                  <%= f.input :email, required: false, autofocus: true, placeholder: "Enter email", class: "input-no-border"%>
              </div>
              <div class="form-group">
                  <%= f.input :password, required: false, label: "ID", label: "Password", placeholder: "Password", class: "form-control"%>
              </div>
            </div>
            <div class="card-footer text-center">
              <%= f.button :submit, "Log In", class: "btn-pink" %>
              <div class="forgot">
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
