<h2>Create a Password</h2>

<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.button :submit, t("devise.invitations.edit.submit_button") %>
<% end %>



<div class="wrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), asset-url('bg1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="card">
            <div class="card-header">
                <h2 class="card-title">Log in</h2>
            </div>
            <div class="card-content">
              <div class="form-group">
                  <%= f.input :email, required: false, autofocus: true, placeholder: "Enter email", class: "input-no-border"%>
              </div>
              <div class="form-group">
                  <%= f.input :password, required: false, label: "ID", label: "Password", placeholder: "Password", class: "form-control"%>
              </div>
            </div>
            <div class="card-footer text-center">
              <%= f.button :submit, "Log in", class: "btn-wide btn-pink" %>
              <div class="forgot">
                  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
