<div class="tab-pane active" id="home">
  <!-- <div class="lg-card">
    <div class="lg-card-content">
      <div class="bg-image text-center m-bottom-15">
        <h1>Your first day.</h1>
      </div>
    </div>
  </div> -->

  <div class="lg-card">
    <div class="lg-card-content" id="welcome-content">
      <% if current_user.sign_in_count == 0 %>
        <%= render 'welcome' %>
      <% end %>
      <div class="bg-image text-center">
        <h1>Your first day.</h1>
      </div>
      <div class="text-center live-content">

      <div class="content-container">
        <div class="completed-badge toStepOne">
          <%= image_tag("icons/001-quality.png", class: toggle_badge("toStepOne"), id: "badge-toStepOne") %>
        </div>
        <%= image_tag current_user.photo, class: "img-circle" %>

        <h1>Welcome, <%= current_user.first_name %>.</h1>
        <button id="Notification">Notification</button>
        <p>Achiever is a place where eveything related to your work is stored. You can <a href="#"><strong>update personal infrotmation</strong></a>, <a href="#"><strong>find information about the company </strong></a> and more.</p>
        <br>
        <div class="welcome-screen-buttons text-center">

          <a id="play-video" href="//www.youtube.com/watch?v=XSGBVzeBUbk" data-lity><button class="btn btn-pink">Play Video</button></a>
          <!-- instance , $('#toStepOne').removeClass('hidden');  -->
          <!-- show on video close -->
          <button id="toStepOne" class="btn btn-pink">Continue</button>
        </div>
        <br>
      </div>

      <hr>
      <div class="content-container hidden" id="email-team">
        <div class="completed-badge step1">
          <%= image_tag("icons/001-quality.png", class: toggle_badge("step1"), id: "badge-step1") %>
        </div>

        <h3>Your new contact info is all set up.</h3>
        <strong><%= current_user.first_name.downcase %>.<%= current_user.last_name.downcase %>@<%= current_user.team.company.name.downcase %></strong>
        <br>
        <h4>(080) 4444 - 4444</h4>
        <br>
        <h4>How about sending your team a welcome message?</h4>
        <a id='intro-mail' href='mailto:" + teamEmails.join(",") + "?Subject=Nice%20to%20meet%20you' target='_blank' class='animated pulse'>Send Mail</a>
      </div>

      <div id="step1-pre">
        <div class="content-container">
          <h2>Let's get started</h2>
          <p >Congratulations on your new <%= current_user.position %> position at <strong><%= current_user.team.company.name %></strong>.  Our goal is to make your transition a smooth one.</p>
          <br>
          <div class="welcome-screen-buttons text-center">
            <button class="btn btn-pink" id="step1">Let's get started</button>
          </div>
        </div>
      </div>

      <hr>
      <div class="content-container">
        <div class="completed-badge meet-mentor">
          <%= image_tag("icons/001-quality.png", class: toggle_badge("meet-mentor"), id: "badge-meet-mentor") %>
        </div>
        <h2>Where to go and who to contact</h2>
        <br>
        <p>Your first day is <strong><%= current_user.start_date.to_formatted_s(:long_ordinal) %></strong>. Please come to <strong><%= current_user.team.company.name %>'s</strong> address (to add later) </p>

        <p>These are the people you can get in tuch with for help.... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae ab ea placeat animi, omnis fugit numquam, nesciunt. Quidem, a, nobis?</p>
        <br>

        <div class="welcome-screen-buttons text-center">
          <button class="btn btn-pink" id="meet-mentor">Meet your mentor</button>
        </div>
      </div>

      <hr>
      <div class="content-container">
        <%= render 'hr' %>
      </div>

      <hr>

      </div>



      <section id="checklist">
        <aside class="intro note">
          <h3 id="checklist-progress">Checklist progress<a class="anchor" href="#checklist-progress"></a></h3>
          <p>As you complete each item and check it off, the state of each checkbox is stored within your browser's cache. You can refer back to this page at any time to see what has been completed so far.</p>
          <p><a href="https://dashboard.stripe.com">Log in</a> to see some of your current settings below.</p>
        </aside>

        <p>Stripe allows you to begin accepting payments in only a matter of minutes. But there are certain steps you should take before going live, enumerated in the two checklists below:</p>

        <ul>
          <li>One specific to your <a href="#account">Stripe account</a>, intended for account holders</li>
          <li>One specific to your <a href="#integration">Stripe integration</a>, intended for developers</li>
        </ul>

        <p>You'll want to review one or both checklists, depending on your particular situation.</p>

        <h2 id="account">Your Stripe account checklist<a class="anchor" href="#account"></a></h2>

        <p>The items within this checklist focus on your Stripe account itself. The ideas apply whether you have an account through a connected website, simply use a Stripe plugin, or developed a custom integration (yourself or through a developer).</p>

        <dl class="checklist">
          <dt id="account-2fa"><label><input type="checkbox" name="checklist-2fa" value="checklist-2fa"> Enable two-step authentication</label></dt>
          <dd>

            <p>For security purposes, we highly recommend <a href="https://support.stripe.com/questions/how-do-i-enable-two-step-verification">enabling two-step authentication</a> on your Stripe account, which adds an additional requirement to log in. With two-step authentication, not only are your username and password needed, but you'll also have to provide a code received by your mobile device. This makes it much harder for someone else to access your Stripe account.</p>
            <p>(Two-step authentication is also sometimes called "two-step verification" or "two factor authentication" or "2fa", all of which refer to the same concept.)</p>
          </dd>

          <dt id="account-public-info"><label><input type="checkbox" name="checklist-public-info" value="checklist-public-info"> Confirm your statement descriptor and public information</label></dt>
          <dd>

            <p>The <a href="https://support.stripe.com/questions/when-i-charge-a-customer-what-will-they-see-on-their-card-statements">statement descriptor</a> appears on customer statements when you charge their card. Missing or incorrect information can result in confused customers creating disputes, so review your information in the <a href="https://dashboard.stripe.com/account">Dashboard</a>.</p>
            <p>You may also want to have text on your site telling the user what they'll see on their statements.</p>
            <p>Note that the card issuing bank can automatically include other account information—e.g., business name, address, email, or phone number—to show on your customer's statements. Check that all of this information in your Stripe account is fine for your customers to see.</p>
          </dd>

          <dt id="account-email"><label><input type="checkbox" name="checklist-email" value="checklist-email"> Set up your email notifications</label></dt>
          <dd>



          <p>Stripe can automatically <a href="https://support.stripe.com/questions/payment-email-notifications">send emails</a> for some account activity. At the very least, we recommend you specify that you'd like to be emailed for successful charges and disputes. (There are other <a href="https://dashboard.stripe.com/account/emails">notification settings</a>, but those two are the most important.)</p> <p>These settings are specific per <a href="#account-team">team member</a>, so your preferences won't affect anyone else's.</p>
          </dd>

          <dt id="account-disputes-fraud"><label><input type="checkbox" name="checklist-disputes-fraud" value="checklist-disputes-fraud"> Be prepared to prevent and manage fraud and disputes</label></dt>
          <dd>
            <p><a href="https://support.stripe.com/questions/avoiding-fraud-and-disputes">Fraud and disputes</a> are unfortunate realities in all commerce, although Stripe is constantly improving its tools to help reduce both. Still, your diligence is imperative, and before going live we recommend you're set up to:</p>

            <ul>
              <li>Regularly review <a href="https://dashboard.stripe.com/payments">payments in the Dashboard</a></li>
              <li>Report charges that appear suspicious (via the Dashboard or the <a href="/docs/fraud">API</a>)</li>
              <li>Have <a href="/docs/disputes/evidence">evidence</a> at the ready for disputes</li>
            </ul>
          </dd>

          <dt id="account-bank"><label><input type="checkbox" name="checklist-bank" value="checklist-bank"> Review your bank account information</label></dt>
          <dd>

            <p>Incorrect bank information is a common cause of <a href="https://support.stripe.com/questions/bank-account-and-transfers#transfer-failures">transfer delays</a>. Before accepting live charges, confirm <a href="https://dashboard.stripe.com/account/transfers">your bank details</a> are correct.</p>
            <p>If you process charges in <a href="https://support.stripe.com/questions/which-currencies-does-stripe-support">multiple currencies</a> and have multiple bank accounts, also confirm you've established the correct default currency. Multiple bank accounts for additional currencies are optional as Stripe can convert any payments into your default currency.</p>
            <p>When reviewing your bank information, set your preferred <a href="https://support.stripe.com/questions/bank-account-and-transfers#first-transfer">transfer schedule</a>. The recommended and default option is daily—as funds become available—but you can change this to best suit your business and reporting needs.</p>
          </dd>

          <dt id="account-team"><label><input type="checkbox" name="checklist-team" value="checklist-team"> Establish Stripe access for your teammates</label></dt>
          <dd>
            <p>Stripe supports a <a href="https://support.stripe.com/questions/can-i-invite-other-team-members-or-my-developer-to-use-my-stripe-account">team of people</a> being able to access the same Stripe account. Different team members can even be given different permissions corresponding to their roles.</p>
            <p>Please use this capability and <strong>do not give others your login credentials</strong>. After inviting a team member, recommend they use <a href="#account-2fa">two-step verification</a> on their login as well.</p>
            <p>Once a team member no longer needs access to your Stripe account, be certain to remove them.</p>
          </dd>
        </dl>
      </section>




      <div class="card-showcase">
        <div class="s-card card">
          <h2 class="uppercase">explore the docs</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, officia.
        </div>

        <div class="s-card card">
          <h2 class="uppercase">explore the docs</h2>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, officia.
        </div>
      </div>

    </div>
  </div>
</div>
