<hr>
<div class="content-container">
  <div class="completed-badge">
    <%= image_tag("icons/001-quality.png", class: toggle_badge("personal-information"), id: "badge-personal-information") %>
  </div>

  <h2>Personal Information</h2>

  <p style="margin-top:15px;">Filling documents isn't always fun.</p>
  <br>
  <p>In order to avoid having you asking for the same information again and again, please complete the form below.</p>
  <br>


<% if current_user.has_the_badge?("personal-information") %>
  <div class="text-center personal-information">
    <%= image_tag "maps-and-flags.svg", id: "badge-personal-information" %>
    <p class="done-text">You're almost done!</p>
  </div>
<% else %>

<!-- 〒144-0045 Tōkyō-to, Ōta-ku, Minamirokugō, 2 Chome−25 -->
  <div id="personal">
    <%= simple_form_for current_user, remote: true do |f| %>
      <%= f.input :birthday, :start_year => 1900, placeholder: "1960", label: false, input_html: {value: "test"} %>
      <%= f.input :address, placeholder: "Address", label: false, input_html: {value: "Minamirokugō, 2 Chome−25"} %>
      <div class="form-inline">
        <%= f.input :city, collection: cities, placeholder: "Tokyo", label: false, placeholder: "City", class: "simple_form_select", input_html: {value: "test"} %>
        <%= f.input :prefecture, collection: prefectures, placeholder: "Prefecture", label: false, placeholder: "Prefecture", class: "simple_form_select", input_html: {value: "Tokyo-to"} %>
        <%= f.input :postal_code, label: 'Postal Code', placeholder: "Postal Code", label: false, input_html: {value: "144-0045"} %>
      </div>
      <%= f.input :bank_account_number, label: 'Bank Account Number', placeholder: "Bank Account Number", label: false, input_html: {value: "09061901142"} %>
      <%= f.input :social_security_number, label: 'Social Security Number', placeholder: "Social Security Number", label: false, input_html: {value: "test"} %>
      <%= f.input :person_to_contact, label: 'Person to Contact in Case of Emergency', placeholder: "Person to Contact in Case of Emergency", label: false, input_html: {value: "test"} %>
      <%= f.submit 'Submit', class: 'btn btn-pink center-block', id: "personal-information" %>
    <% end %>
  </div>
  <% end %>
</div>
