<div id="team">
  <h1>The Team</h1>
  <div class="padded">
    <div class="row">
      <% @team.each do |member| %>
        <div class="col-xs-6 team-member" id="show-<%= member.email %>">
          <div class="user-profile-small">
            <img src="<%= member.photo %>" alt="<%= member.first_name %>" class="img-circle">

            <div class="user-profile-text">
              <div class="username"><%= member.first_name %> <%= member.last_name %></div>
              <div class="email">
                <strong><%= member.email %></strong>
              </div>
              <div class="description">
                  I use to design websites and applications
                  for the web.
              </div>
            </div>
          </div>
        </div>

          <div class="card hidden" id="hide-<%= member.email %>">
            hello
          </div>
      <% end %>
    </div>
  </div>
</div>
