<hr>
<div class="content-container-where" id="where">
  <div class="completed-badge meet-mentor">
    <%= image_tag("icons/001-quality.png", class: toggle_badge("meet-mentor"), id: "badge-meet-mentor") %>
  </div>
  <h2>Where to Go and Who to Contact</h2>
  <br>

    <p>Your first day is <strong><%= current_user.start_date.to_formatted_s(:long_ordinal) %></strong>.<br> 
    Please come to <strong><%= current_user.team.company.name %>'s</strong> address: <br>
    <a href="https://www.google.co.jp/maps/place/indeed+Tokyo/@35.6421125,139.7112027,17z/data=!3m1!4b1!4m5!3m4!1s0x60188b15d9955555:0xf1fa1b426b6bb6c7!8m2!3d35.6421082!4d139.7133967?hl=en" target="_blank">20-3 Ebisu 4-chome, Shibuya, Tokyo 150-6032</a></p><br>
  
    <p>When you arrive at the reception on the 22nd floor, please call Jenny Chen. She'll give you a tour of the office and show you your desk.</p>
  
  <h2>Who to Contact</h2>
  <br>

    <p>If you have any questions before your first day, please feel free to contact either Jenny Chen (HR Manager) or Chris Hutchinson (your Manager):</p>
    <br>


  
<div class="lg-card-content" id="test">
  <div class="content-container-team">
    <div class="row">
      <div class="show-boxes">
          <div class="col-xs-6 team-member" id="show-1">
            <div class="card s-card team-card">
              <div class="user-profile-small">
                <img src="http://i.pravatar.cc/100?img=<%= (1..50).to_a.sample %>" alt="Jenny Chen" class="img-circle">
                <div class="user-profile-text">
                  <div class="username"><p>Jenny Chen</p></div>
                  <div class="email">
                    <strong>jenny@indeed.com</strong>
                  </div>
                  <div class="contact-ph">Office: (312) 344-8802</div>
                  <!-- <div class="description"><%#= member.bio %></div> -->
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="show-boxes">
          <div class="col-xs-6 team-member" id="show-2">
            <div class="card s-card team-card">
              <div class="user-profile-small">
                <img src="http://i.pravatar.cc/100?img=<%= (1..50).to_a.sample %>" alt="Chris Hutchinson" class="img-circle">
                <div class="user-profile-text">
                  <div class="username"><p>Chris Hutchinson</p></div>
                  <div class="email">
                    <strong>Chris@indeed.com</strong>
                  </div>
                  <div class="contact-ph">Office: (312) 344-8803</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  
</div>



 


