<div class="tab-pane" id="you">
  <div class="lg-card">
    <!-- <div class="lg-card-content"> -->
    <div class="card-nav-wrapper">
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#first" class="text-center">Your info</a></li>
        <li class=""><a data-toggle="tab" href="#second" class="text-center">Your mentor</a></li>
        <li class=""><a data-toggle="tab" href="#third" class="text-center">Your objectives</a></li>
      </ul>
    </div>

    <div class="tab-content" id="you-content">
      <div id="first" class="tab-pane active">
        <div class="lg-card-content">
          <div class="welcome-desc user-infos">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <%#= image_tag @user.photo, class: "img-circle center-block" %>
                  <h2 class="text-center"><%= current_user.first_name %> <%= current_user.last_name %></h2>
                  <p><%= current_user.email %></p>
                  <p>Team: <%= current_user.team.name %></p>
                  <p>Position: <%= current_user.position %></p>
                  <div class="days-passed">
                    Days passed: <%= days_passed %> on the <%= current_user.team.company.name %>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <h3>Bio: </h3>
                  <p><%= current_user.bio %></p>
                  <h3>Career: </h3>
                  <p><%= current_user.bio %></p>
                </div>
              </div>
            </div>
            <div class="progress-block">
              <h2 class="text-center">Your Points</h2>
              <br>
              <div class="progress-wrapper center-block">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="progress">
                      <div class="one no-color"></div>
                      <div class="two no-color"></div>
                      <div class="three no-color"></div>
                      <div class="four no-color"><%= image_tag("icons/009-star.png", class: "first-star") %></div>
                      <div class="progress-bar progress-bar-success" style="width: <%= current_user.points % 100 %>%"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- first tab end-->

      <div id="second" class="tab-pane">
        <div class="lg-card-content">
          <div class="welcome-desc user-infos">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <%#= image_tag current_user.mentor.photo, class: "img-circle center-block" %>
                  <h2 class="text-center"><%= current_user.mentor.first_name %> <%= current_user.mentor.last_name %></h2>
                  <p><%= current_user.mentor.email %></p>
                  <p>Team: <%= current_user.mentor.team.name %></p>
                  <p>Position: <%= current_user.mentor.position %></p>
                  <div class="days-passed">
                    Days passed: <%= days_passed %> on the <%= current_user.mentor.team.company.name %>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-8">
                  <h3>Bio: </h3>
                  <p><%= current_user.mentor.bio %></p>
                  <h3>Career: </h3>
                  <p><%= current_user.mentor.bio %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second tab end-->

      <div id="third" class="tab-pane">
        <div class="lg-card-content">
          <div class="text-center welcome-desc">
            <div class="question">
              <em><%= eq_module1  %></em>
            </div>
          </div>
        </div>
        <hr>
        <!-- Objectives -->
        <div class="objectives-wrapper">
          <div class="lg-card-content">
            <h1>Your Objectives</h1>
            <p class="sub-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, consequuntur labore natus molestiae voluptatum dolor. Eos atque incidunt quis, veniam dolorem at architecto, doloremque delectus pariatur libero quos temporibus non!</p>
            <br>
            <button type="submit" name="all" onclick="toggleAll()">All</button>
            <button type="submit" name="completed" onclick="toggleCompleted()">Completed</button>
            <!-- BUTTONS FILTER -->
            <table class="ui single line table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Due Date</th>
                  <th>Status</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% current_user.objectives.each do |o| %>
                  <tr class="objective-list">
                    <td><%= o.name %></td>
                    <td><%= o.due_date %></td>
                    <td>
                      <%= link_to objective_path(o), class: Objective.objective_class(o), id: "objective-#{o.id}", method: :put, remote: true do %>
                        <%= o.status %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Third tab end-->
    </div>

  </div>
</div>
