<div class="tab-pane" id="you">
            <div class="lg-card">
              <!-- <div class="lg-card-content"> -->
              <div class="card-nav-wrapper">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#first" class="text-center">General info</a></li>
                    <li class=""><a data-toggle="tab" href="#second" class="text-center">Mentor</a></li>
                  <li class=""><a data-toggle="tab" href="#third" class="text-center">Menu 2</a></li>
                </ul>
              </div>







<div class="tab-content" id="you-content">
  <div id="first" class="tab-pane active">

    <div class="lg-card-content">
      <div class="text-center welcome-desc">
        <h1>First tab</h1>
        <p>Achiever is a place where eveything related to your work is stored. You can <a href="#"><strong>update personal infrotmation</strong></a>, <a href="#"><strong>find information about the company </strong></a> and more.</p>
        <br>
        <h4>Your new contact info is all set up.</h4>
        <strong><%= current_user.first_name.downcase %>.<%= current_user.last_name.downcase %>@<%= current_user.team.company.name.downcase %></strong>
        <br>
        <h4>(080) 4444 - 4444</h4>

        <hr>

        </div>

        <h2>Your Points</h2>
        <br>
        <div class="progress-wrapper">
          <div class="col-xs-12">
            <div class="progress">
                <div class="one no-color"></div><div class="two no-color"></div><div class="three no-color"></div><div class="four no-color"><%= image_tag("icons/009-star.png", class: "first-star") %></div>
                <div class="progress-bar progress-bar-success" style="width: <%= current_user.points % 100 %>%"></div>
            </div>
          </div>
        </div>
      </div>
  </div> <!-- first tab -->

  <div id="second" class="tab-pane">

    <div class="lg-card-content">
      <div class="text-center welcome-desc">
        <h1>Your Mentor</h1>
        <p>Achiever is a place where eveything related to your work is stored. You can <a href="#"><strong>update personal infrotmation</strong></a>, <a href="#"><strong>find information about the company </strong></a> and more.</p>
        <!-- # Mentor -->
        <% if @user.mentor %>

              <h3>Meet the mentor</h3>
              <div class="mentor">
                <div class="mentor-photo">
                    <%= image_tag @user.mentor.photo, class: 'img-circle img-responsive' %>
                </div>
                <div class="mentor-text">
                  <h4>
                    <%= @user.mentor.first_name %> <%= @user.mentor.last_name %>
                  </h4>
                  <h5>
                    <%= @user.mentor.team.name %>
                  </h5>
                </div>
              </div>
              <div class="btn btn-primary" href="#aboutModal" data-toggle="modal" data-target="#myModal">Click to more info</div>
        <% end %>

      </div>
    </div>
  </div> <!-- Second tab -->


  <div id="third" class="tab-pane">
    <div class="lg-card-content">
      <div class="text-center welcome-desc">
        <h1>Your points etc....</h1>
        <p>Achiever is a place where eveything related to your work is stored. You can <a href="#"><strong>update personal infrotmation</strong></a>, <a href="#"><strong>find information about the company </strong></a> and more.</p>

      </div>
    </div>

        <hr>

        <!-- Objectives -->
          <div class="objectives-wrapper">
            <h1>
              <a class='btn-obj' href='<%#= new_task_path %>' data-toggle="modal" data-target="#newObjModal" data-backdrop="false">
                <div class='fa fa-plus'></div> New Objective
              </a>
            </h1>

            <!-- <button class="btn btn-obj"><p>+ New Objective</p></button> -->
            <div class="lg-card-content">
              <h1>Your Objectives</h1>
              <p class="sub-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, consequuntur labore natus molestiae voluptatum dolor. Eos atque incidunt quis, veniam dolorem at architecto, doloremque delectus pariatur libero quos temporibus non!</p>
              <br>
              <button type="submit" name="all" onclick="toggleAll()">All</button>
              <button type="submit" name="completed" onclick="toggleCompleted()">Completed</button>
              <!-- BUTTONS FILTER -->
              <table class="ui single line table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th colspan="3"></th>
                  </tr>
                </thead>
                <tbody>
                  <% current_user.objectives.each do |o| %>
                    <tr class="objective-list">
                      <td><%= o.name %></td>
                      <td><%= Time.now %></td>
                      <td><%= o.status %></td>
                    </tr>
                  <% end %>
              </tbody>
            </table>
          </div>
        </div>
  </div>
</div>







  </div>
</div>
