
<div class="dashboard-wrapper">

  <!-- <div class="container"> -->
    <div id="sidebar">
      <div class="user-front">
        <img src="http://placehold.it/100x100" class="img-circle">
        <p>Gill Dates</p>
        <div class="user-points">
          <p>5/2000</p>
        </div>
      </div>
      <div class="sidebar-links">
        <ul>
          <a href="#" id="modal-1"><li>Link 1</li></a>
          <a href="#"><li>Link 2</li></a>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- TODO -->
    <!-- Try masonry

    <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      ...
    </div>
     -->



    <!-- <div id="main">
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="grid-item">
              <div class="card">
                <h3>email</h3>
                <p><%#= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="grid-item">
              <div class="card">
                <h3>email</h3>
                <p><%#= @user.email %></p>
                <h5>Bio</h5>
                <p><%#= @user.bio %></p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="grid-item">
              <div class="card">
                <h3>email</h3>
                <p><%#= @user.email %></p>
                <h5>Bio</h5>
                <p><%#= @user.bio %></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div> -->


    <div id="main">
      <div class="container-fluid">
        <div class="row">

          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>Your mentor</h3>
              <p><%= mentor(@user) %></p>
              <h5>Bio</h5>
              <p><%= @user.bio %></p>
              <div class="btn btn-primary" id="team">Check more information about your mentor and set the meeting with your mentor</div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>email</h3>
              <p><%= @user.email %></p>
              <h5>Bio</h5>
              <p><%= @user.bio %></p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>email</h3>
              <p><%= @user.email %></p>
              <h5>Bio</h5>
              <p><%= @user.bio %></p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>email</h3>
              <p><%= @user.email %></p>
              <h5>Bio</h5>
              <p><%= @user.bio %></p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>email</h3>
              <p><%= @user.email %></p>
              <h5>Bio</h5>
              <p><%= @user.bio %></p>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>email</h3>
              <p><%= @user.email %></p>
              <h5>Bio</h5>
              <p><%= @user.bio %></p>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

<!-- TODO -->
<!-- Dynamic ID clicks -->
<% content_for(:after_js) do %>
  <script>
    $("#team").click(function() {
    swal(
      'Good job!',
      'You got a perfect score!',
      'success'
    )
  })
  </script>
<% end %>




<!-- Grid -->
<script>
  // setInterval(function() {
  //   $(document).ready(function() {
  //     // Masonry grid setup
  //     $(".grid").masonry({
  //       itemSelector: ".grid-item",
  //       columnWidth: ".grid-item",
  //       gutter: 15,
  //       percentPosition: true
  //     });

  //     // Image replacement handler
  //     // $(document).on("click", ".js-button", function() {
  //     //   var imageSrc = $(this).parents(".grid__item").find("img").attr("src");
  //     //   $(".js-download").attr("href", imageSrc);
  //     //   $(".js-modal-image").attr("src", imageSrc);
  //     //   $(document).on("click", ".js-heart", function() {
  //     //     $(this).toggleClass("active");
  //     //   });
  //     // });
  //   })
  // }, 200)
</script>
