<div class="dashboard-wrapper">
    <div id="sidebar">
      <div class="sidebar-links">
        <ul class="nav nav-tabs nav-stacked">
          <!-- <a href="#" id="test"><li><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text">Profile</p></li></a> -->
          <!-- loop for links?  -->
          <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-home" aria-hidden="true"></i><p class="link-text">Home</p></a></li>
          <li><a data-toggle="tab" href="#you"><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text" id="you-flash">You</p></a></li>
          <li><a data-toggle="tab" href="#team"><i class="fa fa-users" aria-hidden="true"></i><p class="link-text">Team</p></a></li>
          <li><a data-toggle="tab" href="#" id="resources"><i class="fa fa-list-ul" aria-hidden="true"></i><p class="link-text">Resources</p></a></li>
        </ul>
      </div>
      <br>
      <!-- <div class="days-passed">
        Days passed: <%#= days_passed %>
      </div> -->
      <!-- <div class="question">
        <em><%#= eq_module1  %></em>
      </div> -->
    </div>

    <div id="main">
      <div class="row">

        <!-- Unsure about this -->
        <% if current_user.sign_in_count == 100 %>
          <div class="move-it">
            <div class="lg-card" id="welcome-video">
              <i class="fa fa-times close" aria-hidden="true"></i>
              <div class="lg-card-content">
                <%= render 'welcome' %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="tab-content">


          <!-- HOME -->
          <%= render 'home' %>


          <!-- YOU -->
          <%= render 'you' %>


          <!-- THE TEAM -->
          <%= render 'team' %>


        <% if @user.mentor %>
          <div class="col-xs-12 col-md-6 col-md-offset-3 tab-pane" id="team">
            <div id="myCarousel" class="carousel slide" style="margin: 0px auto;">
            <ol class="carousel-indicators hidden-xs hidden-sm" style="padding-bottom: 20px;">
              <li data-target="#carcousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carcousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carcousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <% @user.team.users.each_with_index do |user, index| %>
                <div class="item <%= "active" if index == 0 %>" align="center">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel"><%= user.team.name %> members</h4>
                        </div>
                      <div class="modal-body">
                        <center>
                          <img src="<%= @user.mentor.photo %>" name="aboutme" width="140" height="140" border="0" class="img-circle">
                          <h3 class="media-heading"><%= user.first_name %> <%= user.last_name %></h3>
                          <h4 class="media-heading"><%= user.position %></h4>
                        </center>
                        <hr>
                        <div>
                        <p class="text-left"><strong>Bio: </strong></p>
                          <%= user.bio %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
          </div>
        <% end %>
      </div>


        <% if @user.mentor %>
          <div class="col-xs-12 col-md-6 col-md-offset-3" id="team">
            <div id="myCarousel" class="carousel slide" style="margin: 0px auto;">
            <ol class="carousel-indicators hidden-xs hidden-sm" style="padding-bottom: 20px;">
              <li data-target="#carcousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carcousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carcousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <% @user.team.users.each_with_index do |user, index| %>
                <div class="item <%= "active" if index == 0 %>" align="center">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title" id="myModalLabel"><%= user.team.name %> members</h4>
                        </div>
                      <div class="modal-body">
                        <center>
                          <img src="<%= @user.mentor.photo %>" name="aboutme" width="140" height="140" border="0" class="img-circle">
                          <h3 class="media-heading"><%= user.first_name %> <%= user.last_name %></h3>
                          <h4 class="media-heading"><%= user.position %></h4>
                        </center>
                        <hr>
                        <div>
                        <p class="text-left"><strong>Bio: </strong></p>
                          <%= user.bio %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
          </div>
        <% end %>

        <div class="move-it">
          <div class="lg-card">
            <i class="fa fa-times close" aria-hidden="true"></i>
            <div class="lg-card-content">
            <script type='text/javascript' language='JavaScript' src='https://secure.jp1.echosign.com/public/embeddedWidget?wid=CBFCIBAA3AAABLblqZhAKiuInYoZUHPH0UTalbRGjPYGklZDrfnuICiaGz3e1RfPnQZEDcF0V8bavE6Vg5Hk*'></script>
              <!-- <iframe src="https://secure.jp1.echosign.com/public/esignWidget?wid=CBFCIBAA3AAABLblqZhAKiuInYoZUHPH0UTalbRGjPYGklZDrfnuICiaGz3e1RfPnQZEDcF0V8bavE6Vg5Hk*&hosted=false" width="100%" height="100%" frameborder="0" style="border: 0; overflow: hidden; min-height: 500px; min-width: 600px;"></iframe> -->
            </div>
          </div>
        </div>

      <!-- leaderboard -->
      <div class="move-it">
        <div class="lg-card">
          <i class="fa fa-times close" aria-hidden="true"></i>
          <div class="lg-card-content">

            <table class="ui single line table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Points</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                      <td>
                          <%= user.first_name %> <%= user.last_name %>
                      </td>
                      <td><%= user.email %></td>
                    <td><%= user.points %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>




          <!-- DOC LIST -->

        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="card">
              <i class="fa fa-times close" aria-hidden="true"></i>

              <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <label class="btn active">
                  <input type="checkbox" name='personal-info' class="personal-info"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><a href="http://www.northwestern.edu/hr/policies-forms/forms/personal-information/PersonalDataForm.pdf" target="_blank"><span class="strikethrough">Fill out your personal information</span></a>
                </label>
              </div>

              <!-- Item 2 -->
              <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <label class="btn active">
                  <input type="checkbox" name='payroll-info' class="payroll-info"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span class="strikethrough"><a href="https://rpservices.net/Pdf/DirectDepositPayrollADP.pdf" target="_blank" class="strikethrough">Fill the payroll information sheet</span></a>
                </label>
              </div>

            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="card">
            <i class="fa fa-times close" aria-hidden="true"></i>
              <h2>HR forms #2</h2>
              <input type="checkbox" id="box-AND-1"/>
              <input type="checkbox" id="box-AND-2"/>
              <input type="checkbox" id="box-AND-3"/>
              <label class="box" for="box-AND-1"></label>
              <label class="box" for="box-AND-2"></label>
              <label class="box" for="box-AND-3"></label>
              <div class="light light-AND">OK</div>
              <div class="doc-continue">Finish</div>
          </div>
        </div>


          <div class="col-xs-12 col-md-6 col-md-offset-3">

            <div class="card">
              <i class="fa fa-times close" aria-hidden="true"></i>

              <h3>HR Docs</h3>

              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="http://www.northwestern.edu/hr/policies-forms/forms/personal-information/PersonalDataForm.pdf" target="_blank" class="strikethrough">Fill the personal information sheet</a>
                  </h4>
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="https://rpservices.net/Pdf/DirectDepositPayrollADP.pdf" target="_blank" class="strikethrough">Fill the payroll information sheet</a>
                  </h4>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="https://hr.wustl.edu/forms/Documents/UHC%20Claim%20Form.pdf" target="_blank" class="strikethrough">Fill the health insurance information sheet</a>
                  </h4>
                </label>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<!-- </div> -->

    <!-- Modal for new objective -->
    <!-- <div class="wrapper"> -->
     <div class="modal fade" id="newObjModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog custom" role="document">
        <div class="modal-content">
          <%#= render 'shared/newobj'%>
        </div>
      </div>
    </div>
  <!-- </div> -->




<!-- Modal window for mentor -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">More About <%= @user.mentor.first_name %></h4>
      </div>
      <div class="modal-body">
        <center>
        <img src="<%= @user.mentor.photo %>" name="aboutme" width="140" height="140" border="0" class="img-circle">
        <h3 class="media-heading"><%= @user.mentor.first_name %> <%= @user.mentor.last_name %><small> <%= @user.mentor.team.name %></small></h3>
        <span><strong>Skills: </strong></span>
            <span class="label label-warning">HTML5/CSS</span>
            <span class="label label-info">Adobe CS 5.5</span>
            <span class="label label-info">Microsoft Office</span>
            <span class="label label-success">Windows XP, Vista, 7</span>
        </center>
        <hr>
        <center>
        <p class="text-left"><strong>Bio: </strong><br>
            <%= @user.mentor.bio %></p>
        <br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
        </center>
      </div>
    </div>
  </div>
</div>

</div>




<% content_for(:after_js) do %>

  <!-- <li><a data-toggle="tab" href="#" id="test"><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text">TEST</p></a></li>
  <li><a data-toggle="tab" href="#objectives" id="link-resources"><i class="fa fa-thumb-tack" aria-hidden="true"></i><p class="link-text">Objectives</p></a></li> -->

  <script>

      progressChecker.init(<%= current_user.id %>, <%= current_user.points %>);


      // $(document).ready(function() {
      //   // Open a URL in a lightbox
      //   // var lightbox = lity('//www.youtube.com/watch?v=XSGBVzeBUbk');

      //   // Bind as an event handler
      //   $('#toStepOne').on('click', '[data-lightbox]', lity('//www.youtube.com/watch?v=XSGBVzeBUbk'));

      // instance.close().then(function() {
      //     console.log('Lightbox closed');
      // });

      // });

      // <a id="liyy-test" href="https://www.youtube.com/watch?v=XSGBVzeBUbk" data-lity>iFrame Youtube</a>

      // On video close
      $("#welcome-video").click(function(){
        welcomeNotification();
      });

      // change this

      $('#toStepOne, #step1-button, #intro-mail').click(function(e) {
        e.preventDefault();
        $.ajax({
          crossOrigin: true,
          type: "POST",
          data: { title: $(this)[0].id },
          // url: url + "/add_badges",
          url: url + "<%= badges_path %>",
          // url: url + "/badges_path",
          success: function(response) {
            // console.log(response);
          }
        });
      })


      // MODULARISE MAN
    //   $('#resources').click(function(el) {
    //   var $content = $(
    //       "<div class='lg-card'>" +
    //         "<i class='fa fa-times close' aria-hidden='true'></i>" +
    //           "<div class='lg-card-content'>" +
    //             "<h1>Resources</h1>" +
    //           "</div>" +
    //         "</div>"
    //       ).hide().addClass('transReset');
    //   $("#main").prepend($content);
    //   $content.show(300, function() { $(this).removeClass('transReset') });

    //   $('.close').on( "click", function() {
    //     $(this).parent().slideUp(400);
    //   });
    // });

    // $('#toStepOne').click(function(){
    //   console.log($(this).attr('href'));
    //   $('html, body').animate({
    //       scrollTop: $( $(this).attr('href') ).offset().top
    //   }, 500);
    //   return false;
    // });


    var teamEmails = [];

    <% @team.each do |member| %>
      teamEmails.push("<%= member.email %>");
    <% end %>
    teamEmails.join(",");

    // use class hidden
    $('#step1-button').click(function(el) {
      var $stepOneContent = $(
        "<div class='lg-card'>" +
          "<div class='lg-card-content'>" +
            "<div class='completed-badge step1-button'></div>" +
            "<h3>Your new contact info is all set up.</h3>" +
            "<strong><%= current_user.first_name.downcase %>.<%= current_user.last_name.downcase %>@<%= current_user.team.company.name.downcase %></strong>" +
            "<br>" +
          "<h4>(080) 4444 - 4444</h4>" +
          "<br>" +
          "<h4>How about sending your team a welcome message?</h4>" +
          "<a id='intro-mail'href='mailto:" + teamEmails.join(",") + "?Subject=Nice%20to%20meet%20you' target='_blank' class='animated pulse'>Send Mail</a>" +
        "</div>").hide().addClass('transReset');
      $('#step1').replaceWith($stepOneContent);

      // $("#main").prepend($content);
      $stepOneContent.show(300, function() { $(this).removeClass('transReset') });

      // $('.close').on( "click", function() {
      //   $(this).parent().slideUp(400);
      // });
    });

    // $('.close, .light-AND').on( "click", function() {
    //   $(this).parent().parent().slideUp(400);
    // });


    // $('a[href*="home"]').click(function(event) {
    //   $('#main').scrollTop(0);
    // });

    // $('a[href*="you"]').click(function(event) {
    //   $('#main').scrollTop(0);
    // });

    // $('a[href*="team"]').click(function(event) {
    //   $('#main').scrollTop(0);
    // });

    $('#meet-mentor').click(function() {
      $('a').parent().delay(500).removeClass('active');
      $('a[href*="you"]').parent().trigger('mouseenter').addClass('active');
      $('a[href*="you"]').parent().trigger('click');
      $('#main').scrollTop(0);
      // $('.nav-tabs > .active li').delay(1000).find('a').trigger('click');
      // $('body').scrollTop(0);

      // $('a[href*="you"]')[0].delay(1000).trigger('click');


      // click
      $('#you').trigger('click', function() {

      })
    })


    // Points events
    // <%# if @user.points > 50 %>
    // // need to add default value on points for users
    //   $.notify({
    //     // options
    //     message: 'Congrats on joining'
    //   },{
    //     // settings
    //     type: 'danger'
    //   });
    // <%# end %>


    $("#test").click(function(el) {
      threeQuestions();
    });

    // Add this to let the carousel start automatic
    // $('.carousel').carousel();
  </script>
<% end %>
