<div class="dashboard-wrapper">
  <div id="main">


    <div class="row">
      <div class="tab-content">
      <div class="progress-block progress-block-fixed">
        <h3 class="one-pc">100%</h3>
        <div class="progress-wrapper center-block">
          <div class="row">
            <div class="col-xs-12">
              <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: <%= current_user.points %>%"></div>
              </div>
            </div>
          </div>
        </div>
        <h3 class="zero-pc">0%</h3>
      </div>
        <!-- HOME -->
        <%= render 'home' %>
        <!-- YOU -->
        <%= render 'you' %>
        <!-- THE TEAM -->
        <%= render 'team' %>
        <!-- resources? -->

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
      // Scoring system
      progressChecker.init(<%= current_user.id %>, <%= current_user.points %>);

      $('#fullpage').fullpage({
        anchors:['firstPage', 'secondPage', 'thirdPage']
      });

      // Carousel
      $('.owl-carousel').owlCarousel({
        // autoWidth:true,
        items:1,
        center:true,
        loop:true
        // responsive:{
        //     0:{
        //         items:1
        //     },
        //     600:{
        //         items:1
        //     },
        //     1000:{
        //         items:2
        //     }
        // }
      });


      $('#email-team').click(function(e) {
        e.preventDefault();

        if ($(this)[0].id == "email-team") {
          progressChecker.addPoints(20);
          // do_notify("All done!");
          $(".email-team").replaceWith('<div class="text-center"><%= image_tag "maps-and-flags.svg", id: "badge-email-team" %><p class="done-text">Introduction sent!</p></div>');
        }

        // Open new window for email
        var mailto_link = $(this).prop('href');
        var left = (screen.width/2)-(700/2) - 150;
        var top = (screen.height/2)-(500/2);
        window.open(mailto_link, 'Hello', 'scrollbars=1,height=500,width=700, top='+top+', left='+left);

        $.ajax({
          crossOrigin: true,
          type: "POST",
          data: { title: $(this)[0].id },
          url: url + "<%= badges_path %>",
          success: function(response) {
            // console.log(response);
          }
        });
      });

      $('#toStepOne, #step1, #meet-mentor, #hrDocs, #personal-information').click(function(e) {
        e.preventDefault();


        if ($(this)[0].id == "toStepOne") {
          progressChecker.addPoints(20);
          do_notify("All done!");
          $(".welcome-screen-buttons").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-1" %><p class="done-text">You\'re in the loop!</p>');
        }

        if ($(this)[0].id == "hrDocs") {
          $(".hr-button").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-2" %>');
        }
        if ($(this)[0].id == "email-team") {
          progressChecker.addPoints(20);
          $(".email-team").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-1" %><p class="done-text">You\'re in the loop!</p>');
        }

        if ($(this)[0].id == "personal-information") {
          progressChecker.addPoints(20);
          $("#personal").replaceWith('<div class="text-center"><%= image_tag "maps-and-flags.svg", id: "badge-personal-information" %><p class="done-text">You\'re almost done!</p></div>');
        }

        $.ajax({
          crossOrigin: true,
          type: "POST",
          data: { title: $(this)[0].id },
          url: url + "<%= badges_path %>",
          success: function(response) {
            // console.log(response);
          }
        });
      })

    // $('a[href*="team"]').click(function(event) {
    //   $('#main').scrollTop(0);
    // });

    // $("#test").click(function(el) {
    //   threeQuestions();
    // });

    // Team
    $('.team-member').on('click', function() {
      $('#show-' + $(this)[0].id).hide().remove();
      $('#hide-' + $(this)[0].id).removeClass('hidden');
    })



  </script>
    <!--   // Points events
    // <%# if @user.points > 50 %>
    // // need to add default value on points for users
    //   $.notify({
    //     // options
    //     message: 'Congrats on joining'
    //   },{
    //     // settings
    //     type: 'danger'
    //   });
    // <%# end %> -->
<% end %>



