<div class="dashboard-wrapper">
  <div id="main">
    <div class="row">
      <div class="tab-content">
        <!-- HOME -->
        <%= render 'home' %>
        <!-- YOU -->
        <%= render 'you' %>
        <!-- THE TEAM -->
        <%= render 'team' %>
        <!-- resources? -->

      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
      progressChecker.init(<%= current_user.id %>, <%= current_user.points %>);

      // $("#email-team > a").click(function(e) {
      //   e.preventDefault();
      // });

      $('#email-team').click(function(e) {
        e.preventDefault();
        var share_link = $(this).prop('href');
        window.open(share_link, '', 'scrollbars=1,height=500,width=500,left=500,top=100');

        $.ajax({
          crossOrigin: true,
          type: "POST",
          data: { title: $(this)[0].id },
          url: url + "<%= badges_path %>",
          success: function(response) {
            // console.log(response);
          }
        });
      });

      $('#toStepOne, #step1, #meet-mentor, #hrDocs').click(function(e) {
        e.preventDefault();

        if ($(this)[0].id == "step1") {
          // $('#email-team').removeClass('hidden');
          // $('#step1-pre').hide().remove();
          // $('#step1').removeClass('hidden');
        }

        if ($(this)[0].id == "toStepOne") {
          do_notify("All done!");
          $(".welcome-screen-buttons").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-1" %><p class="done-text">You\'re in the loop!</p>');
        }

        if ($(this)[0].id == "hrDocs") {
          $(".hr-button").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-2" %>');
        }
        if ($(this)[0].id == "email-team") {
          $(".email-team").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-1" %><p class="done-text">You\'re in the loop!</p>');
        }

        $.ajax({
          crossOrigin: true,
          type: "POST",
          data: { title: $(this)[0].id },
          url: url + "<%= badges_path %>",
          success: function(response) {
            // console.log(response);
          }
        });
      })

    //   $('.close').on( "click", function() {
    //     $(this).parent().slideUp(400);
    //   });
    // });

    // $('#toStepOne').click(function(){
    //   console.log($(this).attr('href'));
    //   $('html, body').animate({
    //       scrollTop: $( $(this).attr('href') ).offset().top
    //   }, 500);
    //   return false;
    // });
    // $('a[href*="home"]').click(function(event) {
    //   $('#main').scrollTop(0);
    // });

    // $('a[href*="you"]').click(function(event) {
    //   $('#main').scrollTop(0);
    // });

    // $('a[href*="team"]').click(function(event) {
    //   $('#main').scrollTop(0);
    // });

    // $("#test").click(function(el) {
    //   threeQuestions();
    // });

    // Team
    $('.team-member').on('click', function() {
      $('#show-' + $(this)[0].id).hide().remove();
      $('#hide-' + $(this)[0].id).removeClass('hidden');
    })



  </script>
    <!--   // Points events
    // <%# if @user.points > 50 %>
    // // need to add default value on points for users
    //   $.notify({
    //     // options
    //     message: 'Congrats on joining'
    //   },{
    //     // settings
    //     type: 'danger'
    //   });
    // <%# end %> -->
<% end %>



