<div class="dashboard-wrapper">
  <div id="main">
  <div class="progress-block progress-block-fixed">
    <h3 class="one-pc">100%</h3>
    <div class="progress-wrapper center-block">
      <div class="row">
        <div class="col-xs-12">
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: <%= current_user.points %>%"></div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="zero-pc">0%</h3>
  </div>

    <div class="row">
      <div class="tab-content">
        <!-- HOME -->
        <%= render 'home' %>
        <!-- YOU -->
        <%= render 'you' %>
        <!-- THE TEAM -->
        <%= render 'team' %>
        <!-- resources? -->
        <a href="scrollToBottom"></a>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
      // Scoring system
      progressChecker.init(<%= current_user.id %>, <%= current_user.points %>);

      if (progressChecker.getPoints() >= 100) {
        console.log("Congratulations!")
      }

      // Carousel
      $('.owl-carousel').owlCarousel({
        // autoWidth:true,
        items:1,
        center:true,
        loop:true
      });

      // $('#toStepOne').bind("click", function () {
      //   $('html, body').animate({ scrollTop: $(document).height() }, 1200);
      //   return false;
      // });

      var scrolled_team = false;
      var scrolled_where = false;
      $('#main').scroll(function() {
        // console.log($(this).scrollTop());

        // 10 points for looking at team
          if ($(this).scrollTop() >= 1600 && scrolled_team == false) { // this refers to window
              // console.log("firing event")
              scrolled_team = true;
            // setTimeout(function() {
              progressChecker.addPoints(10);
            // },700)
          }

        // 10 points for looking at where to go

        if ($(this).scrollTop() >= 4000 && scrolled_where == false) { // this refers to window
          scrolled_where = true;
          progressChecker.addPoints(10);
        }

      });

      $('#email-team').click(function(e) {
        e.preventDefault();

        progressChecker.addPoints(25);
        $(".email-team-replace").replaceWith('<div class="text-center" style="margin-top:15px;"><%= image_tag "maps-and-flags.svg", id: "done-2" %><p class="done-text">Introduction sent!</p></div>');

        // Open new window for email
        var mailto_link = $(this).prop('href');
        var left = (screen.width/2)-(700/2) - 150;
        var top = (screen.height/2)-(500/2);
        window.open(mailto_link, 'Hello', 'scrollbars=1,height=500,width=700, top='+top+', left='+left);

        $.ajax({
          crossOrigin: true,
          type: "POST",
          data: { title: $(this)[0].id },
          url: url + "<%= badges_path %>",
          success: function(response) {
            // console.log(response);
          }
        });
      });

      $('#toStepOne, #step1, #meet-mentor, #hrDocs, #personal-information').click(function(e) {
        e.preventDefault();


        if ($(this)[0].id == "toStepOne") {

          progressChecker.addPoints(25);
          do_notify("All done!", "<%= image_url('logo2.png') %>");
          $(".welcome-screen-buttons").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-1" %><p class="done-text">You\'re in the loop!</p>');
        }

        // if ($(this)[0].id == "hrDocs") {
        //   $(".hr-button").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-2" %>');
        // }


        // if ($(this)[0].id == "email-team") {
        //   progressChecker.addPoints(30);
        //   $(".email-team").replaceWith('<%= image_tag "maps-and-flags.svg", id: "done-2" %><p class="done-text">You\'re in the loop!</p>');
        // }

        if ($(this)[0].id == "personal-information") {
          progressChecker.addPoints(25);
          $("#personal").replaceWith('<div class="text-center"><%= image_tag "maps-and-flags.svg", id: "badge-personal-information" %><p class="done-text">You\'re almost done!</p></div>');
        }
        $.ajax({
          crossOrigin: true,
          type: "POST",
          data: { title: $(this)[0].id },
          url: url + "<%= badges_path %>",
          success: function(response) {
            // console.log(response);
          }
        });
      })

    $("#final-button").click(function(el) {

      swal(
        'You\'re all set!',
        'The hardest parts are over. Not so bad, huh?',
        'success'
      )
      // or other animation.

    });

    // Team
    $('.team-member').on('click', function() {
      $('#show-' + $(this)[0].id).hide().remove();
      $('#hide-' + $(this)[0].id).removeClass('hidden');
    })

    // for link in the home
    $('#link-to-team-in-home').click(function(e) {
      $('#nav-tab-home').removeClass("active");
      $('#nav-tab-team').addClass("active");
    })
  </script>
<% end %>



