
<div class="dashboard-wrapper">

  <!-- <div class="container"> -->
    <!-- PARTIAL FOR SIDEBAR? -->
    <div id="sidebar">
      <div class="user-front">
        <img src="http://placehold.it/100x100" class="img-circle">
        <p><%= @user.first_name %> <%= @user.last_name %></p>
        <div class="user-points">
          <p><%= @user.points %>/100</p>
        </div>
      </div>
      <div class="sidebar-links">
        <ul>
          <a href="#" id="test"><li>TEST</li></a>
          <a href="#"><li>Link 2</li></a>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- TODO -->
    <!-- Try masonry

    <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      ...
    </div>
     -->



    <!-- <div id="main">
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="grid-item">
              <div class="card">
                <h3>email</h3>
                <p><%#= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="grid-item">
              <div class="card">
                <h3>email</h3>
                <p><%#= @user.email %></p>
                <h5>Bio</h5>
                <p><%#= @user.bio %></p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="grid-item">
              <div class="card">
                <h3>email</h3>
                <p><%#= @user.email %></p>
                <h5>Bio</h5>
                <p><%#= @user.bio %></p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div> -->



    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $('#test-sw').click(function(){
          swal(
          'Oops...',
          'Something went wrong!',
          'error'
          );
        })
      <% end %>
    <% end %>


    <div id="main">
      <div class="container-fluid">
      <%= react_component("Cards", props: {name: 'HELLO'}) %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>HR Docs</h3>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="#">Fill the personal finformation</a>
                  </h4>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="#">Fill the payroll finformation</a>
                  </h4>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <%= link_to "Check the #{@user.team.company.name}'s info", company_path %>
                  </h4>
                </label>
              </div>
              <!-- <button type="submit" class="btn btn-default">Submit</button> -->
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card" id="meet-the-mentor">
              <h3>Meet the mentor</h3>
              <div>
                <%= image_tag @user.mentor.photo, class: 'img-circle' %>
              </div>

            </div>
          </div>
          <% @users.each do |user| %>
            <div class="col-xs-12 col-md-6">
              <div class="card" id="team">
                <h3>email</h3>
                <h4><%= user.email %></h4>
                <br>
                <h5>Bio</h5>
                <p><%= user.bio %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<!-- TODO -->
<!-- Dynamic ID clicks -->
<% content_for(:after_js) do %>

  <script>
    <%# if @user.points > 10 %>
    // need to add default value on points for users
      $.notify({
        // options
        message: 'Hello World'
      },{
        // settings
        type: 'danger'
      });
    <%# end %>
  </script>

  <script>

    // temporarily commeted out for checkboxes
    // $(".card").click(function(el) {
    //     swal(
    //     'Good job!',
    //     'You got a perfect score!',
    //     'success'
    //   )
    // })

    // TEST QUIZ
    $("#test").click(function(el) {
      swal.setDefaults({
        input: 'text',
        confirmButtonText: 'Next &rarr;',
        showCancelButton: true,
        animation: false,
        inputValidator: function (value) {
          return new Promise(function (resolve, reject) {
            if (value) {
              resolve()
            } else {
              reject('You need to write something!')
            }
          })
        },
        progressSteps: ['1', '2', '3']
      })

      var steps = [
        {
          title: 'Question 1',
          text: 'Chaining swal2 modals is easy'
        },
        {
          title: 'Question 2',
          text: 'What is the name of this company?'
        },
        {
          title: 'Question 3',
          text: 'What is your name?'
        }
      ]

      swal.queue(steps).then(function (result) {
        swal.resetDefaults()
        swal({
          title: 'All done!',
          html:
            'Your answers: <pre>' +
              JSON.stringify(result) +
            '</pre>',
          confirmButtonText: 'Lovely!',
          showCancelButton: false
        })
      }, function () {
        swal.resetDefaults()
      }).then(function() {
        // helper function
        <%# add_points(@user, 6) %>
        console.log("HELLOOO")

      })
    })

    // $("#team").click(function() {
    //   swal(
    //     'Good job!',
    //     'You got a perfect score!',
    //     'success'
    //   )
    // })

    // for point up by clicking checkbox
    // Not yet

  </script>


<% end %>




<!-- Grid -->
<script>
  // setInterval(function() {
  //   $(document).ready(function() {
  //     // Masonry grid setup
  //     $(".grid").masonry({
  //       itemSelector: ".grid-item",
  //       columnWidth: ".grid-item",
  //       gutter: 15,
  //       percentPosition: true
  //     });

  //     // Image replacement handler
  //     // $(document).on("click", ".js-button", function() {
  //     //   var imageSrc = $(this).parents(".grid__item").find("img").attr("src");
  //     //   $(".js-download").attr("href", imageSrc);
  //     //   $(".js-modal-image").attr("src", imageSrc);
  //     //   $(document).on("click", ".js-heart", function() {
  //     //     $(this).toggleClass("active");
  //     //   });
  //     // });
  //   })
  // }, 200)
</script>
