
<div class="dashboard-wrapper">

    <!-- PARTIAL FOR SIDEBAR? -->
    <!-- <div id="mini-sidebar">
      <div class="small-menu right">
        test
      </div>
    </div> -->

    <div id="sidebar">
      <div class="user-front">
        <img src="http://placehold.it/100x100" class="img-circle">
        <p><%= @user.first_name %> <%= @user.last_name %></p>
        <div class="user-points">
          <p><%= @user.points %>/100</p>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.points %>%">
            <span class="sr-only"><%= @user.points %>% Complete (success)</span>
          </div>
        </div>
      </div>
      <div class="sidebar-links">
        <ul>
          <a href="#" id="test"><li>TEST</li></a>
          <a href="#"><li>Link 2</li></a>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </ul>
      </div>
      <br>
      <div class="days-passed">
        Days passed: <%= days_passed %>
      </div>
      <div class="question">
        <em><%= eq_module1  %></em>
      </div>
    </div>


    <!-- MAIN -->
    <!-- <div id="main">
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
          <div class="col-xs-12 col-md-6 grid-item">

              <div class="card">
                <h3>email</h3>
                <p><%= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
              </div>
          </div>

          <div class="col-xs-12 col-md-6 grid-item">

              <div class="card">
                <h3>email</h3>
                <p><%= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
                <p><%= @user.bio %></p>
                <p><%= @user.bio %></p>
              </div>
          </div>

          <div class="col-xs-12 col-md-6 grid-item">

              <div class="card">
                <h3>email</h3>
                <p><%= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
                <p><%= @user.bio %></p>
              </div>
          </div>

          <div class="col-xs-12 col-md-6 grid-item">

              <div class="card">
                <h3>email</h3>
                <p><%= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
                <p><%= @user.bio %></p>
              </div>
            </div>
          </div>
      </div>
    </div> -->


    <!-- React output -->
    <div id="main">
      <div class="lg-card">
        <div class="lg-card-content">
          <i class="fa fa-times close" aria-hidden="true"></i>
          <h1>Welcome</h1>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <!-- <div class="col-xs-12"> -->
          <!-- </div> -->
          <% @users.each do |user| %>
            <div class="col-xs-12 col-md-6">
              <div class="card" id="team">
                <h3>email</h3>
                <h4><%= user.email %></h4>
                <br>
                <h5>Bio</h5>
                <p><%= user.bio %></p>
                <%#= react_component("Cards", props: {name: user.email}) %>
                <% if user.first_name == "Nicolas" %>
                  <h3>***MarkdownEditor***</h3>
                  <%= react_component("MarkdownEditor") %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

</div>

<% content_for(:after_js) do %>
  <script>
    $('.lg-card.close').click(function(el) {
      console.log(el)
      console.log($('.lg-card'))
      $('.lg-card').remove();
    })
    // Masonry JS
    // ERROR
    // .masonry is not a function...
    // v1
    // $(".grid").masonry({
    //   itemSelector: ".grid-item",
    //   columnWidth: 200,
    //   gutter: 15,
    //   percentPosition: true
    // });


    // Points events
    // <%# if @user.points > 10 %>
    // // need to add default value on points for users
    //   $.notify({
    //     // options
    //     message: 'Hello World'
    //   },{
    //     // settings
    //     type: 'danger'
    //   });
    // <%# end %>

    // Good job modal
    // $(".card").click(function(el) {
    //     swal(
    //     'Good job!',
    //     'You got a perfect score!',
    //     'success'
    //   )
    // })

    // TEST QUIZ
    $("#test").click(function(el) {
      swal.setDefaults({
        input: 'text',
        confirmButtonText: 'Next &rarr;',
        showCancelButton: true,
        animation: false,
        inputValidator: function (value) {
          return new Promise(function (resolve, reject) {
            if (value) {
              resolve()
            } else {
              reject('You need to write something!')
            }
          })
        },
        progressSteps: ['1', '2', '3'],
        user_answers: [],
        correct_answers: ['true', 'false', 'true']
      })

      var steps = [
        {
          title: 'Question 1',
          text: 'Chaining swal2 modals is easy'
        },
        {
          title: 'Question 2',
          text: 'What is the name of this company?'
        },
        {
          title: 'Question 3',
          text: 'What is your name?'
        }
      ]

      swal.queue(steps).then(function (result) {
        swal.resetDefaults()
        swal({
          title: 'All done!',
          html:
            'Your answers: <pre>' +
              JSON.stringify(result) +
            '</pre>',
          confirmButtonText: 'Lovely!',
          showCancelButton: false
        })
      }, function () {
        swal.resetDefaults()
      }).then(function() {
        // helper function
        <% add_points(@user, 22) %>
        console.log("HELLOOO")

      })
    })
  </script>
<% end %>
