<div class="dashboard-wrapper">
    <div id="sidebar">
      <div class="sidebar-links">
        <ul>
          <!-- <a href="#" id="test"><li><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text">Profile</p></li></a> -->
          <!-- loop for links?  -->
          <a href="#"><li><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text">Mentor</p></li></a>
          <a href="#"><li><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text">Team</p></li></a>
          <a href="#" id="resources"><li><i class="fa fa-list-ul" aria-hidden="true"></i><p class="link-text"> Resources</p></li></a>

          <a href="#" id="test"><li><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text">TEST</p></li></a>
          <a href="#" id="link-3"><li><i class="fa fa-thumb-tack" aria-hidden="true"></i><p class="link-text"> Link 3</p></li></a>
        </ul>
      </div>
      <br>
      <!-- <div class="days-passed">
        Days passed: <%#= days_passed %>
      </div> -->
      <!-- <div class="question">
        <em><%#= eq_module1  %></em>
      </div> -->
    </div>





    <div id="main">

      <div class="row">

        <div class="move-it">
          <div class="lg-card">
            <!-- <i class="fa fa-times close" aria-hidden="true"></i> -->
            <button class="btn btn-close close"><p>+ New Objective</p></button>
            <div class="lg-card-content">
                <h1>Your Objectives</h1>
                <p class="sub-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, consequuntur labore natus molestiae voluptatum dolor. Eos atque incidunt quis, veniam dolorem at architecto, doloremque delectus pariatur libero quos temporibus non!</p>
                <br>
                <button type="submit" name="all" onclick="toggleAll()">All</button>
                <button type="submit" name="completed" onclick="toggleCompleted()">Completed</button>
                <!-- BUTTONS FILTER -->
                <table class="ui single line table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Due Date</th>
                      <th>Status</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% current_user.objectives.each do |o| %>
                      <tr class="objective-list">
                        <td><%= o.name %></td>
                        <td><%= Time.now %></td>
                        <td><%= o.status %></td>
                      </tr>
                    <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      <% if current_user.sign_in_count == 100 %>
        <div class="move-it">
          <div class="lg-card" id="welcome-video">
            <i class="fa fa-times close" aria-hidden="true"></i>
            <div class="lg-card-content">
              <%= render 'welcome' %>
            </div>
          </div>
        </div>
      <% end %>


      <div class="move-it">
        <div class="lg-card">
          <i class="fa fa-times close" aria-hidden="true"></i>
          <div class="lg-card-content">

            <table class="ui single line table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Points</th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                  <tr>
                      <td>
                          <%= user.first_name %> <%= user.last_name %>
                      </td>
                      <td><%= user.email %></td>
                    <td><%= user.points %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-xs-12 move-it col-md-6 col-md-offset-3">
            <div class="card">
              <i class="fa fa-times close" aria-hidden="true"></i>

              <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <label class="btn active">
                  <input type="checkbox" name='personal-info' class="personal-info"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><a href="http://www.northwestern.edu/hr/policies-forms/forms/personal-information/PersonalDataForm.pdf" target="_blank"><span class="strikethrough">Fill out your personal information</span></a>
                </label>
              </div>

              <!-- Item 2 -->
              <div class="btn-group btn-group-vertical" data-toggle="buttons">
                <label class="btn active">
                  <input type="checkbox" name='payroll-info' class="payroll-info"><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span class="strikethrough"><a href="https://rpservices.net/Pdf/DirectDepositPayrollADP.pdf" target="_blank" class="strikethrough">Fill the payroll information sheet</span></a>
                </label>
              </div>

            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-xs-12 move-it col-md-6 col-md-offset-3">
            <div class="card">
            <i class="fa fa-times close" aria-hidden="true"></i>
              <h2>HR forms #2</h2>
              <input type="checkbox" id="box-AND-1"/>
              <input type="checkbox" id="box-AND-2"/>
              <input type="checkbox" id="box-AND-3"/>
              <label class="box" for="box-AND-1"></label>
              <label class="box" for="box-AND-2"></label>
              <label class="box" for="box-AND-3"></label>
              <div class="light light-AND">OK</div>
              <div class="doc-continue">Finish</div>
          </div>
        </div>


          <div class="col-xs-12 move-it col-md-6 col-md-offset-3">

            <div class="card">
              <i class="fa fa-times close" aria-hidden="true"></i>

              <h3>HR Docs</h3>

              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="http://www.northwestern.edu/hr/policies-forms/forms/personal-information/PersonalDataForm.pdf" target="_blank" class="strikethrough">Fill the personal information sheet</a>
                  </h4>
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="https://rpservices.net/Pdf/DirectDepositPayrollADP.pdf" target="_blank" class="strikethrough">Fill the payroll information sheet</a>
                  </h4>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="https://hr.wustl.edu/forms/Documents/UHC%20Claim%20Form.pdf" target="_blank" class="strikethrough">Fill the health insurance information sheet</a>
                  </h4>
                </label>
              </div>
            </div>

          </div>

          <% if @user.mentor %>
          <!-- <div class="row"> -->
            <div class="col-xs-12 move-it col-md-6 col-md-offset-3">
              <div class="card">
              <i class="fa fa-times close" aria-hidden="true"></i>
                <h3>Meet the mentor</h3>
                <div class="mentor">
                  <div class="mentor-photo">
                      <%= image_tag @user.mentor.photo, class: 'img-circle img-responsive' %>
                  </div>
                  <div class="mentor-text">
                    <h4>
                        <%= @user.mentor.first_name %> <%= @user.mentor.last_name %>
                    </h4>
                    <h5>
                        <%= @user.mentor.team.name %>
                    </h5>
                  </div>
                </div>
                <div class="btn btn-primary" href="#aboutModal" data-toggle="modal" data-target="#myModal">Click to more info</div>
              </div>
            </div>
          <!-- </div> -->
          <% end %>

          <% if @user.mentor %>
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <div id="myCarousel" class="carousel slide" style="margin: 0px auto;">
              <ol class="carousel-indicators hidden-xs hidden-sm" style="padding-bottom: 20px;">
                <li data-target="#carcousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carcousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carcousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <% @user.team.users.each_with_index do |user, index| %>
                  <div class="item <%= "active" if index == 0 %>" align="center">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title" id="myModalLabel"><%= user.team.name %> members</h4>
                          </div>
                        <div class="modal-body">
                          <center>
                            <img src="<%= @user.mentor.photo %>" name="aboutme" width="140" height="140" border="0" class="img-circle">
                            <h3 class="media-heading"><%= user.first_name %> <%= user.last_name %></h3>
                            <h4 class="media-heading"><%= user.position %></h4>
                          </center>
                          <hr>
                          <div>
                          <p class="text-left"><strong>Bio: </strong></p>
                            <%= user.bio %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>
            </div>
          <% end %>
      </div>
    </div>
</div>




<!-- Modal window for mentor -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">More About <%= @user.mentor.first_name %></h4>
      </div>
      <div class="modal-body">
        <center>
        <img src="<%= @user.mentor.photo %>" name="aboutme" width="140" height="140" border="0" class="img-circle">
        <h3 class="media-heading"><%= @user.mentor.first_name %> <%= @user.mentor.last_name %><small> <%= @user.mentor.team.name %></small></h3>
        <span><strong>Skills: </strong></span>
            <span class="label label-warning">HTML5/CSS</span>
            <span class="label label-info">Adobe CS 5.5</span>
            <span class="label label-info">Microsoft Office</span>
            <span class="label label-success">Windows XP, Vista, 7</span>
        </center>
        <hr>
        <center>
        <p class="text-left"><strong>Bio: </strong><br>
            <%= @user.mentor.bio %></p>
        <br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
        </center>
      </div>
    </div>
  </div>
</div>

</div>

<% content_for(:after_js) do %>
  <script>
      progressChecker.init(<%= current_user.id %>, <%= current_user.points %>);

      // On video close
      $("#welcome-video").click(function(){
        welcomeNotification();
      });

      // click on resources, clear screen? huge card? modal?
      // iterate through the resources

      // MODULARISE MAN
      $('#resources').click(function(el) {
      var $content = $(
          "<div class='lg-card'>" +
            "<i class='fa fa-times close' aria-hidden='true'></i>" +
              "<div class='lg-card-content'>" +
                "<h1>Resources</h1>" +
              "</div>" +
            "</div>"
          ).hide().addClass('transReset');
      $("#main").prepend($content);
      $content.show(300, function() { $(this).removeClass('transReset') });

      $('.close').on( "click", function() {
        $(this).parent().slideUp(400);
      });
    });

    // Create lg card
    $('#link-3').click(function(el) {
      var $content = $(
        "<div class='lg-card'>" +
            "<i class='fa fa-times close' aria-hidden='true'></i>" +
              "<div class='lg-card-content'>" +
                "<h1>Your Objectives</h1>" +
                "<% current_user.objectives do |o| %>" +
                  "<%= o.name %>" +
                "<% end %>" +
              "</div>" +
          "</div>").hide().addClass('transReset');
      $("#main").prepend($content);
      $content.show(300, function() { $(this).removeClass('transReset') });

      $('.close').on( "click", function() {
        $(this).parent().slideUp(400);
      });
    });


    $('.close, .light-AND').on( "click", function() {
      $(this).parent().parent().slideUp(400);
    });

    // Points events
    // <%# if @user.points > 50 %>
    // // need to add default value on points for users
    //   $.notify({
    //     // options
    //     message: 'Congrats on joining'
    //   },{
    //     // settings
    //     type: 'danger'
    //   });
    // <%# end %>


    $("#test").click(function(el) {
      threeQuestions();
    });

    // Add this to let the carousel start automatic
    // $('.carousel').carousel();
  </script>
<% end %>
