<div class="dashboard-wrapper">
    <div id="sidebar">
      <!-- <div class="user-front"> -->
        <!-- <img src="http://placehold.it/100x100" class="img-circle">
        <p><%#= current_user.first_name %> <%#= current_user.last_name %></p>
        <div class="user-points">
          <p><span id="user-points-updatable"><%#= current_user.points %></span>/500</p>
        </div> -->
        <!-- <div class="progress">
          <div id="user-progress-bar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.points %>%">
            <span class="sr-only"><span id="user-points-updatable"><%= current_user.points %></span>% Complete (success)</span>
          </div>
        </div> -->
      <!-- </div> -->
      <div class="sidebar-links">
        <ul>
          <a href="#" id="test"><li><i class="fa fa-user-o" aria-hidden="true"></i><p class="link-text">TEST</p></li></a>
          <a href="#" id="new-task"><li><i class="fa fa-plus" aria-hidden="true"></i><p class="link-text">NEW</p></li></a>
          <a href="#" id="link-3"><li><i class="fa fa-thumb-tack" aria-hidden="true"></i><p class="link-text">Link 3</p></li></a>
        </ul>
      </div>
      <br>
      <!-- <div class="days-passed">
        Days passed: <%#= days_passed %>
      </div>
      <div class="question">
        <em><%#= eq_module1  %></em>
      </div> -->
    </div>





    <div id="main">
      <ul id="card-list">

      </ul>
      <% if current_user.sign_in_count == 1 %>
        <div class="lg-card move-it">
          <i class="fa fa-times close" aria-hidden="true"></i>
          <div class="lg-card-content">
            <!-- <i class="fa fa-times close" aria-hidden="true"></i> -->
            <%= render 'welcome' %>
          </div>
        </div>
      <% end %>
      <!-- <div class="container-fluid"> -->
        <div class="row">
          <div class="col-xs-12 move-it col-md-6 col-md-offset-3">
            <div class="card">
              <i class="fa fa-times close" aria-hidden="true"></i>
              <h3>HR Docs</h3>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="#" class="strikethrough">Fill the personal finformation</a>
                  </h4>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="#" class="strikethrough">Fill the payroll finformation</a>
                  </h4>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <%= link_to "Check the #{@user.team.company.name}'s info", company_path %>
                  </h4>
                </label>
              </div>
              <!-- <button type="submit" class="btn btn-default">Submit</button> -->
            </div>
          </div>
          <% if @user.mentor %>
            <div class="col-xs-12 move-it col-md-6 col-md-offset-3">
              <div class="card">
              <i class="fa fa-times close" aria-hidden="true"></i>
                <h3>Meet the mentor</h3>
                <div class="mentor">
                  <div class="mentor-photo">
                      <%= image_tag @user.mentor.photo, class: 'img-circle img-responsive' %>
                  </div>
                  <div class="mentor-text">
                    <h4>
                        <%= @user.mentor.first_name %> <%= @user.mentor.last_name %>
                    </h4>
                    <h5>
                        <%= @user.mentor.team.name %>
                    </h5>
                  </div>
                </div>
                <div class="btn btn-primary" href="#aboutModal" data-toggle="modal" data-target="#myModal">Click to more info</div>
              </div>
            </div>
          <% end %>

          <div class="col-xs-12 move-it col-md-6 col-md-offset-3">
            <div class="card">
            <i class="fa fa-times close" aria-hidden="true"></i>
              <h3>Meet the Team</h3>
            </div>
          </div>

          <!-- <div class="col-xs-12 col-md-6">
            <div class="card">

            </div>
          </div> -->

          <!-- Carousel for meet team members -->
          <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div id="myCarousel" class="carousel slide" style="margin: 0px auto;">
              <ol class="carousel-indicators hidden-xs hidden-sm" style="padding-bottom: 20px;">
                <li data-target="#carcousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carcousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carcousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <% @user.team.users.each_with_index do |user, index| %>
                  <div class="item <%= "active" if index == 0 %>" align="center">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                          <h4 class="modal-title" id="myModalLabel"><%= user.team.name %> memebers</h4>
                          </div>
                        <div class="modal-body">
                          <center>
                            <img src="<%= @user.mentor.photo %>" name="aboutme" width="140" height="140" border="0" class="img-circle">
                            <h3 class="media-heading"><%= user.first_name %> <%= user.last_name %></h3>
                            <h4 class="media-heading"><%= user.position %></h3>
                          </center>
                          <hr>
                          <div>
                          <p class="text-left"><strong>Bio: </strong></p>
                            <%= user.bio %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
          </div>
          <!-- Carousel for meet team members -->

        </div>
    </div>
</div>




<!-- Modal window for mentor -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">More About <%= @user.mentor.first_name %></h4>
      </div>
      <div class="modal-body">
        <center>
        <img src="<%= @user.mentor.photo %>" name="aboutme" width="140" height="140" border="0" class="img-circle">
        <h3 class="media-heading"><%= @user.mentor.first_name %> <%= @user.mentor.last_name %><small> <%= @user.mentor.team.name %></small></h3>
        <span><strong>Skills: </strong></span>
            <span class="label label-warning">HTML5/CSS</span>
            <span class="label label-info">Adobe CS 5.5</span>
            <span class="label label-info">Microsoft Office</span>
            <span class="label label-success">Windows XP, Vista, 7</span>
        </center>
        <hr>
        <center>
        <p class="text-left"><strong>Bio: </strong><br>
            <%= @user.mentor.bio %></p>
        <br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
        </center>
      </div>
    </div>
  </div>
</div>
<!-- Modal window for mentor end -->

</div>




<% content_for(:after_js) do %>
  <script>
    // TEST QUIZ

    // TRIGGER
      setTimeout(function() {
        $.notify({
          // options
          icon: 'glyphicon glyphicon-warning-sign',
          title: 'Test your knowledge',
          message: 'How much do you know about our CEO?',
          url: 'https://github.com/mouse0270/bootstrap-notify',
          target: '_blank'
        },{
          // settings
          element: 'body',
          position: null,
          type: "info",
          allow_dismiss: true,
          newest_on_top: false,
          showProgressbar: false,
          placement: {
            from: "top",
            align: "right"
          },
          offset: 20,
          spacing: 10,
          z_index: 1031,
          delay: 5000,
          timer: 1000,
          url_target: '_blank',
          mouse_over: null,
          animate: {
            enter: 'animated fadeInDown',
            exit: 'animated fadeOutUp'
          },
          onShow: null,
          onShown: null,
          onClose: null,
          onClosed: null,
          icon_type: 'class',
          template: '<div data-notify="container" class="col-xs-11 col-sm-3 alert alert-{0}" role="alert">' +
            '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
            '<span data-notify="icon"></span> ' +
            '<span data-notify="title">{1}</span> ' +
            '<span data-notify="message">{2}</span>' +
            '<div class="progress" data-notify="progressbar">' +
              '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
            '</div>' +
            '<a href="{3}" target="{4}" data-notify="url"></a>' +
          '</div>'
        });

        setTimeout(function() {
          $("#test").trigger('click');
        }, 4000);

      }, 10000);

    // codepen slideIn
    $('#link-3').click(function(el) {
      var $content = $("<div class='lg-card'>" +
            "<i class='fa fa-times close' aria-hidden='true'></i>" +
              "<div class='lg-card-content'>" +
                "<h1>Insert Video Here</h1>" +
              "</div>" +
            "</div>").hide().addClass('transReset');
      $("#main").prepend($content);
      $content.show(300, function() { $(this).removeClass('transReset') });

      $('.close').on( "click", function() {
        var top = $('.move-it').first();
        $(this).parent().slideUp(400, function() {

        });
      });

    });

    var current_user_points = <%= current_user.points %>;

    function update_points(data) {
      $.ajax({
        crossOrigin: true,
        type: "POST",
        data: data,
        url: "<%= request.base_url %>/add_points",
        success: function(response) {
          console.log(response)
        }
      });
    }



    $('#new-task').click(function(el) {
      // add card
      var $content = $("<div class='lg-card'>" +
              "<i class='fa fa-times close' aria-hidden='true'></i>" +
              "<div class='lg-card-content'>" +
                "<h1>Insert Video Here</h1>" +
              "</div>" +
            "</div>").hide().addClass('transReset');
      $("#main").prepend($content);
      $content.show(300, function() { $(this).removeClass('transReset') });


      // ORIGINAL PREPEND SCRIPT
      // $("#main").prepend("<div class='lg-card'>" +
      //   "<div class='lg-card-content'>" +
      //     "<i class='fa fa-times close' aria-hidden='true'></i>" +
      //     "<h1>Insert Video Here</h1>" +
      //   "</div>" +
      // "</div>"
      // ).hide().slideToggle();

      $('.close').on( "click", function() {
        // console.log($(this).parent());
        var top = $('.move-it').first();
        $(this).parent().slideUp(400, function() {
          // $('#main').append(top);
          // top.show();
        });

        // $(this).parent().parent().addClass('animated bounceOut').fadeOut('800', function() {
            // $(this).remove();

            // var top = $('.move-it').first();
            // $('.move-it').first().slideUp(400, function() {
            //   $('#main').append(top);
            //   top.show();
            // });
        // });
      });

    });

    $('.close').on( "click", function() {
      var top = $('.move-it').first();
      $(this).parent().slideUp(400, function() {
        // $('#main').append(top);
        // top.show();
    });
      // $(this).parent().parent().addClass('animated bounceOut').fadeOut('800', function() {
          // $(this).remove();

          // function scrollList () {
            // var top = $('.move-it').first();
            // $('.move-it').first().slideUp(400, function() {
            //   $('#main').append(top);
            //   top.show();
            // });
          // }

      // });
    });

    // Masonry JS
    // ERROR
    // .masonry is not a function...
    // v1
    // $(".grid").masonry({
    //   itemSelector: ".grid-item",
    //   columnWidth: 200,
    //   gutter: 15,
    //   percentPosition: true
    // });


    // Points events
    // <%# if @user.points > 30 %>
    // // need to add default value on points for users
    //   $.notify({
    //     // options
    //     message: 'Congrats on joining'
    //   },{
    //     // settings
    //     type: 'danger'
    //   });
    // <%# end %>

    $("#test").click(function(el) {
      swal.setDefaults({
        input: 'text',
        confirmButtonText: 'Next &rarr;',
        showCancelButton: true,
        animation: false,
        inputValidator: function (value) {
          return new Promise(function (resolve, reject) {
            if (value) {
              resolve()
            } else {
              reject('You need to write something!')
            }
          })
        },
        progressSteps: ['1', '2', '3']
      })

      // should be a hash? with correct answers?
      var steps = [
        {
          title: 'Question 1',
          text: 'What year was the company founded?'
        },
        {
          title: 'Question 2',
          text: 'What is our best selling product?'
        },
        {
          title: 'Question 3',
          text: 'How many employees do we have?'
        }
      ]

      swal.queue(steps).then(function (result) {
        swal.resetDefaults()
        // add ADV logic later
        var correct_answers = ['true', 'false', 'true'];
        console.log(result)

        swal({
          title: 'All done!',
          html:
            'Your answers: <pre>' +
              JSON.stringify(result) +
            '</pre>',
          confirmButtonText: 'Lovely!',
          showCancelButton: false
        })
      }, function () {
        swal.resetDefaults()
      }).then(function() {

        var data = { user_id: <%= current_user.id %>, points: 10 };

        // if score ok
        update_points(data);
        current_user_points += 10;
        $("#user-points-updatable").text(current_user_points);
        $("#user-progress-bar").css({"width": current_user_points + "%"});

      });
    });


    // Add this to let the carousel start automatic
    // $('.carousel').carousel();
  </script>
<% end %>
