
<div class="dashboard-wrapper">

    <!-- PARTIAL FOR SIDEBAR? -->
    <!-- <div id="mini-sidebar">
      <div class="small-menu right">
        test
      </div>
    </div> -->

    <div id="sidebar">
      <div class="user-front">
        <img src="http://placehold.it/100x100" class="img-circle">
        <p><%= current_user.first_name %> <%= current_user.last_name %></p>
        <div class="user-points">
          <p><span id="user-points-updatable"><%= current_user.points %></span>/500</p>
        </div>
        <div class="progress">
          <div id="user-progress-bar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: <%= current_user.points %>%">
            <span class="sr-only"><span id="user-points-updatable"><%= current_user.points %></span>% Complete (success)</span>
          </div>
        </div>
      </div>
      <div class="sidebar-links">
        <ul>
          <a href="#" id="test"><li>TEST</li></a>
          <a href="#" id="link-2"><li>Link 2</li></a>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </ul>
      </div>
      <br>
      <div class="days-passed">
        Days passed: <%= days_passed %>
      </div>
      <div class="question">
        <em><%= eq_module1  %></em>
      </div>
    </div>


    <!-- MAIN -->
    <!-- <div id="main">
      <div class="grid" data-masonry='{ "itemSelector": ".grid-item" }'>
          <div class="col-xs-12 col-md-6 grid-item">

              <div class="card">
                <h3>email</h3>
                <p><%= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
              </div>
          </div>

          <div class="col-xs-12 col-md-6 grid-item">

              <div class="card">
                <h3>email</h3>
                <p><%= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
                <p><%= @user.bio %></p>
                <p><%= @user.bio %></p>
              </div>
          </div>

          <div class="col-xs-12 col-md-6 grid-item">

              <div class="card">
                <h3>email</h3>
                <p><%= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
                <p><%= @user.bio %></p>
              </div>
          </div>

          <div class="col-xs-12 col-md-6 grid-item">

              <div class="card">
                <h3>email</h3>
                <p><%= @user.email %></p>
                <h5>Bio</h5>
                <p><%= @user.bio %></p>
                <p><%= @user.bio %></p>
              </div>
            </div>
          </div>
      </div>
    </div> -->


    <!-- React output -->
    <div id="main">
      <div class="lg-card">
        <div class="lg-card-content">
          <i class="fa fa-times close" aria-hidden="true"></i>
          <h1>Insert Video Here</h1>
        </div>
      </div>
      <!-- <div class="container-fluid"> -->
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>HR Docs</h3>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="#">Fill the personal finformation</a>
                  </h4>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <a href="#">Fill the payroll finformation</a>
                  </h4>
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <h4>
                    <input type="checkbox" value="first_checkbox">
                    <%= link_to "Check the #{@user.team.company.name}'s info", company_path %>
                  </h4>
                </label>
              </div>
              <!-- <button type="submit" class="btn btn-default">Submit</button> -->
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="card">
              <h3>Meet the mentor</h3>
              <div class="mentor">
                <div class="mentor-photo">
                  <% if @user.mentor %>
                    <%= image_tag @user.mentor.photo, class: 'img-circle img-responsive' %>
                  <% end %>
                </div>
                <div class="mentor-text">
                  <h4>
                    <%= @user.mentor.first_name %> <%= @user.mentor.last_name %>
                  </h4>
                  <h5>
                    <%= @user.mentor.team.name %>
                  </h5>
                </div>
              </div>
              <div class="btn btn-primary" href="#aboutModal" data-toggle="modal" data-target="#myModal">Click to more info</div>
            </div>
          </div>

          <% @users.each do |user| %>
            <div class="col-xs-12 col-md-6">
              <div class="card" id="team">
                <h3>email</h3>
                <h4><%= user.email %></h4>
                <br>
                <h5>Bio</h5>
                <p><%= user.bio %></p>
                <!-- Testing purposes -->
                <% if user.first_name == "Nicolas" %>
                  <h3>***MarkdownEditor***</h3>
                  <%= react_component("MarkdownEditor") %>
                <% end %>
                <% if user.first_name == "Sam" %>
                  <h3>***MarkdownEditor***</h3>
                  <%= react_component("MarkdownEditor") %>
                <% end %>
              </div>
            </div>
          <% end %>


        </div>
      <!-- </div> --> <!-- Container Fluid -->
    </div>
</div>





<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">More About <%= @user.mentor.first_name %></h4>
      </div>
      <div class="modal-body">
        <center>
        <img src="<%= @user.mentor.photo %>" name="aboutme" width="140" height="140" border="0" class="img-circle">
        <h3 class="media-heading"><%= @user.mentor.first_name %> <%= @user.mentor.last_name %><small> <%= @user.mentor.team.name %></small></h3>
        <span><strong>Skills: </strong></span>
            <span class="label label-warning">HTML5/CSS</span>
            <span class="label label-info">Adobe CS 5.5</span>
            <span class="label label-info">Microsoft Office</span>
            <span class="label label-success">Windows XP, Vista, 7</span>
        </center>
        <hr>
        <center>
        <p class="text-left"><strong>Bio: </strong><br>
            <%= @user.mentor.bio %></p>
        <br>
        </center>
      </div>
      <div class="modal-footer">
        <center>
        <button type="button" class="btn btn-default" data-dismiss="modal">I've heard enough about Joe</button>
        </center>
      </div>
    </div>
  </div>
</div>






<% content_for(:after_js) do %>
  <script>

    // for meet the mentor modal (do not use anymore)
    // $("#meet-the-mentor").click(function(el) {
    //     swal(
    //     '<%#= j @user.mentor.first_name %> <%= j @user.mentor.last_name %>',
    //     'You got a perfect score!',
    //     'success'
    //   )
    // })


    var current_user_points = <%= current_user.points %>;
    // if (current_user_points >= 100) {
    //   alert("Congratulations!!!");
    //   current_user_points = 0;
    // }

    function update_points(data) {
      $.ajax({
        crossOrigin: true,
        type: "POST",
        data: data,
        url: "<%= request.base_url %>/add_points",
        success: function(response) {
          console.log(response)
        }
      });
    }

    $('#link-2').click(function(el) {

      $("#main").prepend("<div class='lg-card'>" +
        "<div class='lg-card-content'>" +
          "<i class='fa fa-times close' aria-hidden='true'></i>" +
          "<h1>Insert Video Here</h1>" +
        "</div>" +
      "</div>"
      ).hide().slideToggle();

      $('.close').on( "click", function() {
        $(this).parent().parent().addClass('animated slideOutLeft').fadeOut('400', function() {
          $(this).remove();
        });
      });

    });

    $('.close').on( "click", function() {
      $(this).parent().parent().addClass('animated slideOutLeft').fadeOut('400', function() {
        $(this).remove();
      });
    });

    // Masonry JS
    // ERROR
    // .masonry is not a function...
    // v1
    // $(".grid").masonry({
    //   itemSelector: ".grid-item",
    //   columnWidth: 200,
    //   gutter: 15,
    //   percentPosition: true
    // });


    // Points events
    // <%# if @user.points > 10 %>
    // // need to add default value on points for users
    //   $.notify({
    //     // options
    //     message: 'Hello World'
    //   },{
    //     // settings
    //     type: 'danger'
    //   });
    // <%# end %>

    // Good job modal
    // $(".card").click(function(el) {
    //     swal(
    //     'Good job!',
    //     'You got a perfect score!',
    //     'success'
    //   )
    // })

    // TEST QUIZ
    $("#test").click(function(el) {
      swal.setDefaults({
        input: 'text',
        confirmButtonText: 'Next &rarr;',
        showCancelButton: true,
        animation: false,
        inputValidator: function (value) {
          return new Promise(function (resolve, reject) {
            if (value) {
              resolve()
            } else {
              reject('You need to write something!')
            }
          })
        },
        progressSteps: ['1', '2', '3']
      })

      // should be a hash? with correct answers?
      var steps = [
        {
          title: 'Question 1',
          text: '<%= eq_module1 %>'
        },
        {
          title: 'Question 2',
          text: '<%= eq_module1 %>'
        },
        {
          title: 'Question 3',
          text: '<%= eq_module1 %>'
        }
      ]

      swal.queue(steps).then(function (result) {
        swal.resetDefaults()
        // add ADV logic later
        var correct_answers = ['true', 'false', 'true'];
        console.log(result)

        swal({
          title: 'All done!',
          html:
            'Your answers: <pre>' +
              JSON.stringify(result) +
            '</pre>',
          confirmButtonText: 'Lovely!',
          showCancelButton: false
        })
      }, function () {
        swal.resetDefaults()
      }).then(function() {
        var data = { user_id: <%= current_user.id %>, points: 10 };

        update_points(data);

        current_user_points += 10;
        $("#user-points-updatable").text(current_user_points);
        $("#user-progress-bar").css({"width": current_user_points + "%"});

      });
    });
</script>
<% end %>
