<!DOCTYPE html>
<html>
  <head>
    <title>Achievr.io</title>

    <!-- TO FINISH -->

    <!-- FB -->
    <meta property="og:title" content="Better onboarding">
    <meta property="og:description" content="Connect employees to the right at the right time.">
    <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
    <meta property="og:url" content="https://www.achievr.io">
    <!-- Twitter -->
    <!-- <meta name="twitter:title" content="Better onboarding.">
    <meta name="twitter:description" content="Connect employees to the right at the right time."> -->
    <meta name="twitter:image" content=" http://euro-travel-example.com/thumbnail.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/png" href="http://example.com/myicon.png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <%#= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:after_js) %>
  </body>
</html>
